/* #region General & Bio */
@keyframes bg {
    0% {
        background-position: 0% 24%
    }

    50% {
        background-position: 100% 77%
    }

    100% {
        background-position: 0% 24%
    }
}

body {
    background-image: linear-gradient(120deg, #b52a1c -49%, #454088 27.08%, #454088 70%, #1268a1);
    background: linear-gradient(127deg, #f708d4, #4808f7, #a24aff, #8f18f7, #f708e9);
    background-size: 1000% 1000%;
    animation: bg 90s ease infinite;
    font-family: "Lato", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: white;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #00000077;
}

a.nav {
    color: rgb(0, 234, 255);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #000000aa;
}

div.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #000000aa;
}

button {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    background-color: #000000aa;
    color: white;
    border: none;
    cursor: pointer;
}

button.tableaction {
    width: 100px;
}

 .red-glow {
    box-shadow: 0 0 5px 2px #ff0000;
 }

.green-glow {
    box-shadow: 0 0 5px 2px #00ff00;
}

div.submissionList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* #region beatmaps */
div.beatmap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px 20px 10px 20px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-color: #000000aa;

}

div.beatmap p {
    margin: 0;
    font-family: "Lato", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
}

/* #endregion */
